<div class="container">
  <h1>Weather forecast</h1>
  <div class="head">
    <mat-form-field>
      <input matInput type="text" placeholder="Enter your city">
    </mat-form-field>
    <button mat-raised-button color="primary">Search</button>
  </div>


  <div class="row">
    <div class="inner">
      <img src="https://lamcdn.net/wonderzine.com/post-cover/9-Rt5gDMtBKbA99_JgClvw-default.jpg">
    </div>
    <div class="inner">
      <h4>День 1</h4>
      <p>
        <b><span>40</span> - <span>50</span>, </b>
        <span>пиздец дождь</span>,
        <span>все в облаках</span>
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="inner">
      <img src="https://lamcdn.net/wonderzine.com/post-cover/9-Rt5gDMtBKbA99_JgClvw-default.jpg">
    </div>
    <div class="inner">
      <h4>День 1</h4>
      <p>
        <b><span>40</span> - <span>50</span>, </b>
        <span>пиздец дождь</span>,
        <span>все в облаках</span>
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="inner">
      <img src="https://lamcdn.net/wonderzine.com/post-cover/9-Rt5gDMtBKbA99_JgClvw-default.jpg">
    </div>
    <div class="inner">
      <h4>День 1</h4>
      <p>
        <b><span>40</span> - <span>50</span>, </b>
        <span>пиздец дождь</span>,
        <span>все в облаках</span>
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="inner">
      <img src="https://lamcdn.net/wonderzine.com/post-cover/9-Rt5gDMtBKbA99_JgClvw-default.jpg">
    </div>
    <div class="inner">
      <h4>День 1</h4>
      <p>
        <b><span>40</span> - <span>50</span>, </b>
        <span>пиздец дождь</span>,
        <span>все в облаках</span>
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="inner">
      <img src="https://lamcdn.net/wonderzine.com/post-cover/9-Rt5gDMtBKbA99_JgClvw-default.jpg">
    </div>
    <div class="inner">
      <h4>День 1</h4>
      <p>
        <b><span>40</span> - <span>50</span>, </b>
        <span>пиздец дождь</span>,
        <span>все в облаках</span>
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>


<router-outlet></router-outlet>
